{% extends "layout_dt.html" %}
{% block title %}
Customers
{% endblock %}
{% block content %}
<div id="page">
    <div id="content">
        <div id="header">
            <h1>Customers</h1>
        </div>

        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>Zip Code</th>
                    <th>Country</th>
                    <th>Phone</th>
                    <th>Active</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>Zip Code</th>
                    <th>Country</th>
                    <th>Phone</th>
                    <th>Active</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#example').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {
                url: "/api/customers",
                type: "POST",
                data: function (args) {
                    return { "args": JSON.stringify(args) };
                }
            },
            "columns": [
                { data: 'name' },
                { data: 'address' },
                { data: 'city' },
                { data: 'zip_code' },
                { data: 'country' },
                { data: 'phone' },
                { data: 'notes' }
            ]
        });
    });
</script>
{% endblock %}