extends layout_dt

block title
    | #{title}

block content
    #getting-started
        h2 Github
        a(href='https://github.com/trantamjp/DVDRentalPy' target="_blank") https://github.com/trantamjp/DVDRentalPy
        h2 Sample Data
        h4
            | Download from here 
            a(href='https://www.postgresqltutorial.com/postgresql-sample-database/' target="_blank") https://www.postgresqltutorial.com/postgresql-sample-database/
        p Please click the link from the top menu
        ol
            li
                p
                    | Customers List
                p
                    | DataTable with server-side processing, pulling customer data from the API 
                    a(href="/api/datatable/customers" target='_blank') here
                    |  (showing first 10 rows without parameters).
            li
                p
                    | Films List
                p
                    | DataTable with server-side processing, pulling customer data from the API 
                    a(href="/api/datatable/films" target='_blank') here
                    |  (showing first 10 rows without parameters).
