doctype html
html
    head
        meta(charset='utf-8')
        title
            block title
        link(rel='stylesheet' type='text/css' href="#{ url_for('static', filename='css/site.css')}")
        link(rel='stylesheet' href='//cdn.datatables.net/1.10.21/css/jquery.dataTables.css')
        script(src='//code.jquery.com/jquery-3.5.1.js')
        script(src='//cdn.datatables.net/v/dt/dt-1.10.21/datatables.js')
    body
        h1 Python Flask-SQLAlchemy-jQuery Demo

        #page
            .navbar
                a.navbar-brand(href="#{ url_for('home') }") Home
                a.navbar-brand(href="#{ url_for('customers') }") Customers
                a.navbar-brand(href="#{ url_for('films') }") Films
            .body-content
                block content
