
#page
    #sidebar
        ul#sidebar-items
        li
            h3 Links
            ul.links
            li
                a.perldemo(href) Perl Demo
            li
                a.pythondemo(href) Python Demo
            li
                a.nodejsdemo(href) NodeJS Demo
    .navbar
        a.navbar-brand(href="#{ url_for('home') }") DVDRentalPy
        a.navbar-item(href="#{ url_for('customers') }") Customers
        a.navbar-item(href="#{ url_for('films') }") Films
    .body-content
        block content
        hr
        footer
            p Tam Tran
