<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/site.css')}}" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.css">

    <script src="//code.jquery.com/jquery-3.5.1.js"></script>
    <script src="//cdn.datatables.net/v/dt/dt-1.10.21/datatables.js"></script>
</head>

<body>
    <div class="navbar">
        <a href="{{ url_for('home') }}" class="navbar-brand">Home</a>
        <a href="{{ url_for('customers') }}" class="navbar-item">Customers</a>
        <a href="{{ url_for('films') }}" class="navbar-item">Films</a>
    </div>

    <div class="body-content">
        {% block content %}
        {% endblock %}
        <hr />
        <footer>
            <p>Tam Tran</p>
        </footer>
    </div>
</body>

</html>